[include]
	path = .gitaliases
[blame]
	# ignoreRevsFile = .git-blame-ignore-revs
	markUnblamableLines = true
	markUnblamables = true
[branch]
	autosetuprebase = always
[commit]
	gpgsign = true
[core]
	editor = code -w
	symlinks = true
[credential]
	helper = store
[diff]
	algorithm = histogram
	colorMoved = zebra
	# tool = TortoiseGitMerge
	tool = VSCodeDiff
	wsErrorHighlight = all
[difftool "VSCodeDiff"]
	cmd = code --wait --diff "${LOCAL}" "${REMOTE}"
[fetch]
	prune = true
[grep]
	extendRegexp = true
	lineNumber = true
[init]
	defaultBranch = main
[log]
	follow = true
[merge]
	autoStash = true
	conflictstyle = diff3
	renames = true
	renormalize = true
	# tool = TortoiseGitMerge
	tool = VSCodeMerge
[mergetool]
	keepBackup = false
	tool = "VSCodeMerge"
[mergetool "VSCodeMerge"]
	cmd = code --wait --merge "${MERGED}"
[pretty]
	# Generates a markdown checklist of commits
	branchcompare = - [ ] %C(bold cyan)%h -- %C(bold green)@%an -- %C(bold red)%ad %Creset(%C(bold yellow)%N%-%Creset)%n      %s%-
	# %Short author date% %ref names% %subject% %Author Name% -- %commit hash%
	onelinelog = %as%C(auto)%d %s %C(bold green)@%an%Creset -- %C(bold cyan)%h
	# %Short author date% %ref names% %Author Name% -- %commit hash%
	# %subject%
	# %body%
	multilinelog = %as%C(auto)%d %s %C(bold green)@%an%Creset -- %C(bold cyan)%h%+b
	rebasemultilog = commit  %H%nAuthor: %an%nDate:   %ad%n%B
[pull]
	rebase = true
[push]
	default = simple
[rebase]
	autoSquash = true
	autoStash = true
	missingCommitsCheck = error
[rerere]
	autoUpdate = true
	enabled = true
[user]
	name = Damien Schoof
	email = damien.schoof@talostrading.com
	signingkey = 30C3E8777A3618A1 #gitleaks:allow
[gpg]
	program = /opt/homebrew/bin/gpg
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
